		body{
			background: grey;
			text-align: center;
			margin: 0;
		}
		.winner{
			color: #A2DF56;
		}

		.name{
			color: blue;
			font-size: 70px;
		}

		p{
			font-size: 30px;
		}

		h2{
			background: #D3D3D3;
			font-size: 50px;
		}

		#p1Display{
			font-size: 50px;
		}
		#p2Display{
			font-size: 50px;
		}
		button:hover{
			background: tomato;
			color: black;
		}
		input:hover{
			background: #B4D2EA;
		}
		#message{
			color: #A2DF56;
			font-size: 100px;
		}