		body{
			background: grey;
			text-align: center;
			margin: 0;
		}
		.winner{
			color: #A2DF56;
		}

		.name{
			color: white;
			font-size: 100px;
			animation: animatePlayer 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}

		@keyframes animatePlayer{
			0%{
				transform: scale(.01);
				opacity: 0;
				color: white;
			}
			60%{
				transform: scale(1.2);
				opacity: 1;
				color: #A2DF56;
			}
			100%{
				transform: scale(1);
			}
		}

		p{
			font-size: 30px;
		}

		h2{
			background: #D3D3D3;
			font-size: 50px;
		}

		h3{
			font-size: 30px;
		}

		#p1Display{
			font-size: 50px;
		}
		#p2Display{
			font-size: 50px;
		}
		button:hover{
			background: tomato;
			color: black;
		}
		input:hover{
			background: #B4D2EA;
		}
		#message{
			color: #A2DF56;
			font-size: 100px;
		}

		.p1Name{
			display: inline-block;
		}

		.p2Name{
			display: inline-block;
		}

		.bol{
			font-size: 40px;
		}
